#app {
  min-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.line-numbers-container {
  min-width: 2rem;
  font-family: monospace;
  font-size: 0.875rem;
  line-height: 1.5;
  overflow-y: hidden;
}
.line-number-item {
  height: 1.5rem;
  padding-right: 0.5rem;
}
textarea {
  resize: vertical;
  font-family: monospace;
  font-size: 0.875rem;
  line-height: 1.5;
  tab-size: 4;
  min-height: 16rem;
  overflow-y: auto;
}
.text-dark {
  color: black;
}
.text-notice {
  color: yellowgreen;
}
.bg-blue-600 {
  background-color: #10083f;
}
